<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Name</td>
              <th scope="col">Fonts Completed</td>
              <th scope="col">Current Font</td>
              <th scope="col" colspan="2">Current Progress</td>
              <th scope="col"></td>
            </tr>
          </thead>

          <tbody>
            <% for (let batch of batches) { %>
              <tr>
                <td><%= batch.name %></td>
                <td><%= batch.currentFontCount - 1 %></td>
                <td><%= batch.currentFont %></td>
                <td><%= batch.linesProcessed %></td>
                <td><%= batch.progress.toFixed(1) %>%</td>
                <td><a href="#" class="btn btn-sm" onclick="showContainer(<%= batch.id %>)">Logs</a></td>
              </tr>
            <% } %>
          </tbody>
        </table>

        <% for (let batch of batches) { %>
          <div class="logs-container" id="logs-container-<%=batch.id%>" hidden>
            <h4><%= batch.name %></h4>
            <pre style="background-color: #EBECE4; padding: 20px">
<%= batch.logs %>
            </pre>
          </div>
        <% } %>
        

    </div><!-- /.container -->

    <script>
      function showContainer(id) {
        let current = getContainer(id);
        let isHidden = current.hasAttribute('hidden');
        for (let container of document.getElementsByClassName('logs-container')) {
          container.setAttribute("hidden", "true");
        }

        if (isHidden)
        {
          current.removeAttribute("hidden");
        }
      }

      function getContainer(id) {
        return document.getElementById('logs-container-' + id);
      }
    </script>
  </body>
 </html>
